<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <p>{{firstPostTitle}}</p>
    <button v-on:click="buttonClick('Victoria')">Click me</button>
    <sub-component ref="subComponent">
      <p>Att skriva här fungerar pga att jag har en slot definerad i subkomponenten. Läs mer här <a href="https://vuejs.org/v2/guide/components-slots.html">https://vuejs.org/v2/guide/components-slots.html</a></p>
    </sub-component>
  </div>
</template>

<script>
/*
  Använder du visual studio code tanka ext Vetur för att få syntax highlight i denna filen.
  Mounted är en så kallad lifecycle hook. Den körs när komponenten är "monterad", alltså synlig. Dock så kan det hända att subkomponenter inte är färdigladdade.
  Kräver din kod att allt är laddat och synligt får du köra this.$nextTick och därefter din kod.
  methods använder du för att definera olika funktioner. Jag la till en getPosts som hämtar posts från ett test-api.
  I template kan du använda {{foobar}} för att printa ut variabler som definerats i data eller funktioner som definerats i computed. I detta fallet {{msg}} eller {{firstPost}}
  Data och computed uppdateras automatiskt i frontend om du ändrar dem i kod. Viktiga är att de alltid måste vara definerade för att vue ska känna igen ändringar, därför sätter jag först en tom array för posts innan jag fyller på den.

  v-on kan binda på en rad olika saker, se dokumentation för det.
  https://vuejs.org/v2/guide/events.html

  Jag har satt en ref på subkomponenten, då kommer du åt den i koden genom att kalla this.$refs.subComponent. Kolla console loggen för att se den.
  Se till att tanka Vue dev tools för firefox eller chrome för att se strukturen på din app.

*/
import SubComponent from './SubComponent.vue'
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      posts: []
    }
  },
  components: {
    SubComponent
  },
  computed: {
    // a computed getter
    firstPostTitle: function () {
      // `this` points to the vm instance
      if (typeof this.posts[0] !== 'undefined') {
        return this.posts[0].title
      }
    }
  },
  methods: {
    getPosts: function () {
      this.$nextTick(function () {
        // code here
      })
      this.$http.get('https://jsonplaceholder.typicode.com/posts/').then((response) => {
        this.posts = response.data
      })
    },
    buttonClick: function (name) {
      alert(`You are an awesome clicker ${name}`)
    }
  },
  mounted: function () {
    this.getPosts()
    console.info(this.$refs.subComponent)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
