<template>
  <div class="container">
    This is the second page
  </div>
</template>

<script>
export default {
  name: 'SecondPageComponent',
  data () {
    return {
      msg: 'Second page'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
