<template>
  <div class="container">
    Just some text in the {{msg}}
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'SubComponent',
  data () {
    return {
      msg: 'Sub component'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
